<body style="color: white ;">
    <section>
        <div id="landing-offer" class="pad-sec">
            <div class="container">

                <div class="title-section big-title-sec">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div>
                                <h1 class="big-title"> <img width="100px" src="https://scontent.fqro3-1.fna.fbcdn.net/v/t1.6435-9/122447324_2356951704451143_1158928336322340892_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFxcRezPpcsuxce_XqLinEWBXCl9jFqBtsFcKX2MWoG23R7hz8N5_CgaU2CxUdVNKOplsmEAgPeIv3FUMiXT18B&_nc_ohc=wjbiGKRGY0wAX9RJ1Xn&tn=SQ8Vs7Zx21q03XCf&_nc_ht=scontent.fqro3-1.fna&oh=00_AT8wNHOSG1vlap0CiRjM1FmWUGUfqGSyJ0e3p7my8qHwDg&oe=62E9063D">                                    Marco Polo Lopez Tovar</h1>
                            </div>
                            <hr>
                            <p class="about-text">Datos generales del programador:</p>
                        </div>
                    </div>
                </div>

                <div class="offer-boxes">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>Carrera:</h4>
                                <hr>
                                <p>Ingeniería en Desarrollo y Gestión de Software</p>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>Grupo</h4>
                                <hr>
                                <p>DS02SV-21</p>
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="offer-post text-center">
                                <div class="offer-icon">
                                </div>
                                <h4>Tutor</h4>
                                <hr>
                                <p>Cesar Alejandro Valencia Garcia</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <hr>
                    <p class="about-text">2022</p>
                </div>
                <div align="center">
                    <img height="200px" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Logo_UTSJR_new.gif" />
                </div>
            </div>
        </div>
    </section>

    <style>
        body {
            background: url(https://fondosmil.com/fondo/54336.png);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            height: 92vh;
        }
    </style>

</body>